.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #4CAF50;
  color: white;
  padding: 1em;
  text-align: center;
}

.project {
  margin: 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
}

.footer {
  text-align: center;
  padding: 1em;
  background-color: #4CAF50;
  color: white;
}